.grptrans{
text-align: center;
   color: rgb(9, 90, 63);
   background-color: rgb(84, 163, 68);
}
.grp{
    display: flex;
    width:100%;
    margin-left: 25%;
    align-items: center;
   
   
}
.div1{
    width:20%;
}
.div1 select{
 padding-right: 40%;
 padding-bottom: 40%;
 font-size: 20px;
}
.div2{
    width:20%;
}
.div2 select{
 padding-right: 40%;
 padding-bottom: 40%;
 font-size: 20px;
}
.send{
    padding: 5%;
}


